---
import Layout from "../layouts/Layout.astro";
import { appwriteDatabases } from "../lib/backend";
import { Query } from "appwrite";
import { COLLECTION, DB_ID } from "../lib/ids";

let user = Astro.cookies.get('user').value as string;

let Docs: any[] = [];

await appwriteDatabases.listDocuments(
		DB_ID,
		COLLECTION.Notes, 
		[
			Query.search('AuthorUid', user),
		])
		.then((response) => {
			Docs = response.documents as any[];
	})
---
<script>
    // get the data from the cookie named user
    let user = document.cookie.split(';').find((item) => item.includes('user'));
    // if the user cookie exists then do nothing else redirect to the login page
    if (!user) {
        window.location.href = '/login';
    }
</script>
<Layout title="Home">
    <div class="">
        <div class="row">
            <div class="col-12">
                <h1>Notes</h1>
                <p>Here are your notes</p>
                <ul>
                    {Docs.map((doc) => (
                            <a href={`/doc/${doc.$id}`}>{doc.Name}</a>
                    ))}
                </ul>
            </div>
        </div>
    </div>
</Layout>

<style>
    a {
        color: #0070f3;
        text-decoration: none;
    }
</style>
