---
import { Query } from "appwrite";
import Layout from "../layouts/Layout.astro";
import { appwriteDatabases } from "../lib/backend";
import { COLLECTION, DB_ID } from "../lib/ids";

let user = Astro.cookies.get('user').value as string;
let username = Astro.cookies.get('userName').value as string;

let classes = await appwriteDatabases.listDocuments(DB_ID, COLLECTION.Class_User, [
    Query.equal("User", user)
]).then(res => res.documents)
.then(docs => {
    return Promise.all(docs.map(doc => appwriteDatabases.getDocument(DB_ID, COLLECTION.Classes, doc.Class)))
})
---
{!classes.length && <script>location.href="/selectclasses"</script>}
<Layout title="Dashboard" login={true}>
    <div class="flex flex-col items-center justify-center h-56 sm:pt-10 2xl:scale-125 pt-12 mb-5">
        <p class="text-4xl text-center h-44 font-bold pt-16">Welcome, {username}!</p>
        <button onclick="location.href = '/selectclasses'" style="cursor: pointer;" class="bg-gray-400 rounded-md w-48 h-28">
            Select Classes
        </button>
    </div>
    <div class="flex flex-row flex-wrap gap-10 items-center justify-center mt-10">
        {classes?.map(c => (
            <div onclick={`window.location = "/class/${c.$id}"`} style="cursor: pointer;" class="card w-96 h-20 2xl:h-36 2xl:w-[32rem] sm:h-32 bg-gray-500">
                <div class="card-body items-center justify-center">
                    <h1 class="card-title text-center 2xl:text-2xl text-white">{c.Name}</h1>
                </div>
            </div>
        ))}
    </div>
</Layout>