---
import Layout from '../layouts/Layout.astro';
import Editor from '../components/editor.svelte';
---

<Layout title="Welcome to Astro.">
	<main>
		<!--  create a landing page for the site -->
		<h1 class="text-gradient text-center text-2xl md:text-4xl lg:text-5xl">
			Welcome to <span class="text-gradient">Draftonn</span>.
		</h1>
		<p class="text-center text-lg">
			Your new and free note taking app. <br />
			<span class="text-sm">No credit card required.</span>
		</p>
		<!--  login and signup buttons -->
		<div class="flex justify-center mt-8">
			<a href="/login" class="bg-red-300 p-2 rounded-md mr-4">
				Login
			</a>
			<a href="/signup" class="bg-red-300 p-2 rounded-md">
				Sign up
			</a>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
