---
//TODO: Make this page just show units
import Layout from "../../../../../layouts/Layout.astro"
import { appwriteDatabases } from "../../../../../lib/backend";
import { Query } from "appwrite";
import { COLLECTION, DB_ID } from "../../../../../lib/ids";
import Createunit from "../../../../../components/global/createunit.svelte";
import CreateButtons from "../../../../../components/global/createbuttons.svelte"

let user = Astro.cookies.get('user').value as string;
let username = Astro.cookies.get('userName').value as string;
let classId = Astro.params.id as string;
let currFolderID = '' as string;


let Units = await appwriteDatabases.listDocuments(
    DB_ID,
    COLLECTION.Units,
    [
        Query.equal("Class", classId)
    ]
).then(response => response.documents)
---
<script>
    // get the data from the cookie named user
    let user = document.cookie.split(';').find((item) => item.includes('user'));
    // if the user cookie exists then do nothing else redirect to the login page
    if (!user) {
        window.location.href = '/login';
    }
</script>
<Layout title="Home">
    <div class="flex flex-col pt-5 min-h-screen w-[100%]">
        <div class="row">
            <div class="col-12">
                <h1 class="text-4xl font-semibold text-center">Dashboard</h1>
                <div class="flex flex-col gap-5 items-center p-12">
                    <Createunit id={classId} client:only />
                    {(Units.length > 0) && <h1 class="text-xl font-semibold">Units</h1>}
                    {(Units.length > 0)
                        && Units.map((unit) => (
                        <div onclick={`window.location = "/assignment/"`} style="cursor: pointer;" class="card w-[26rem] sm:w-7/12 h-24 sm:h-20 bg-slate-400">
                            <div class="text-xl items-center justify-center">
                                <h1 class="text-xl pt-[5%] sm:pt-5 text-center">{unit.Name}</h1>
                            </div>
                        </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>
</style>
