---
export interface Props {
	title: string;
	path?: string;
}

const { title,path } = Astro.props;
---
<script>
	import { appwriteUser } from "../lib/backend";

	// let LogOutBtn = document.getElementById('logout') as HTMLAnchorElement;

	// LogOutBtn.onclick = function logOut() {
	// 	appwriteUser.deleteSession('current').then(() => {
	// 		document.cookie = `user=; expires=${new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toUTCString()}; path=/`;
	// 		document.cookie = `userName=; expires=${new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toUTCString()}; path=/`;
	// 		document.cookie = `session=; expires=${new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toUTCString()}; path=/`;
	// 		window.location.href = '/';
	// 	});
	// }
</script>
<!DOCTYPE html>
<html lang="en" class="bg-gray-200 text-gray-900">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
<div class="flex flex-col m-5">
	<body>
		<slot />
	</body>
</div>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		background-color: #f9f9f9;
		color: #000000;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	nav {
		position: sticky;
		top: 0;
		left: 0;
		width: 18vw;
		height: 100vh;
		background-color: white;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		z-index: 2000;
	}

	/*  make the scroll bar rounded with a very light grey color */
	html::-webkit-scrollbar {
		width: 0.5rem;
	}
	html::-webkit-scrollbar-track {
		background-color: #f1f1f1;
	}
	html::-webkit-scrollbar-thumb {
		background-color: #888;
		border-radius: 1rem;
	}
	html::-webkit-scrollbar-thumb:hover {
		background-color: #555;
	}

	/*  hide the horizontal scrollbar, since we only need the vertical one */
	html {
		overflow-x: hidden;
	}


	/*  on mobile, make the nav full screen */
	@media (max-width: 600px) {
		nav {
			width: 100vw;
		}
	}
	nav a {
		display: block;
		padding: 0.5rem;
		text-decoration: none;
		color: black;
	}
	nav a:hover {
		background-color: #f1f1f1;
	}
	nav a:active {
		background-color: #e1e1e1;
	}
	nav a:focus {
		outline: 2px solid #f1f1f1;
	}
</style>
